# No whitespace after the comma or in your part name!
config SHIELD_GREEN_FLUKE_LEFT
    def_bool $(shields_list_contains,green_fluke_left)

# No whitespace after the comma or in your part name!
config SHIELD_GREEN_FLUKE_RIGHT
    def_bool $(shields_list_contains,green_fluke_right)
