config CONFIG_ZMK_HID_REPORT_TYPE_HKRO 
    default y
    
config CONFIG_ZMK_HID_KEYBOARD_REPORT_SIZE
    default 12


if SHIELD_GREEN_FLUKE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "greenFluke"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GREEN_FLUKE_LEFT || SHIELD_GREEN_FLUKE_RIGHT

config ZMK_SPLIT
    default y

endif

